
body, html, a{
    margin:0;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    text-decoration: none;
    color:inherit;
    // 
    scroll-behavior: smooth;
}

.container{
    max-width: 1280px;
    margin:auto;
}

.header{

    padding: 1rem $app-padding;
    box-shadow: 0 0 .5rem rgba(0,0,0,.25);
    z-index: 100;

    &__logo{
        font-family: 'Shrikhand','cursive';
        font-weight: unset;
        margin:0;
        text-align: center;
    }
}

.footer{
    background-color: #353535;
    color: contrast_of(#353535);
    padding: $app-padding;

    &__title{
        font-family: 'Shrikhand','cursive';
        font-size: 1.2rem;
        font-weight: normal;
    }

    &__list{
        list-style: none;
        padding:0;
        margin:0;
    }

    &__listElt{
        margin:0.5rem 0;

        &:hover{
            text-decoration: underline;
        }
    }

    &__icon{
        width:1.2rem;
        margin-right:0.5rem;
    }
}