$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

$app-padding : 1rem;

img{
    width:200px;
}

@import 'font.scss';
@import 'utils.scss';
@import 'base.scss';
@import 'restaurants.scss';




