$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

$app-padding : 1rem;



@import 'font.scss';
@import 'utils.scss';
@import 'mixin.scss';
@import 'base.scss';

@import 'accueil.scss';
@import 'restaurants.scss';




